<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My first Vuejs App</title>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>

</head>
<body>
  <div id="app">
    <h1> {{ app_name }} </h1>
    <input type="text" v-model="new_task" v-on:keyup.enter="add_task" placeholder="Type your task description">
    <button v-bind:disabled="new_task.length < 1" v-on:click="add_task">+ Add Task</button>
    <ul>
      <li v-for="task in task_list"> {{ task.desc }}</li>
    </ul>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        app_name: 'Task list',
        task_list: [
          { desc: 'First' },
          { desc: 'Second' }
        ],
        new_task: ''
      },
      methods: {
        add_task () {
          if (this.new_task === '') {
            alert('Task can\'t be blank')
            return false
          }
          this.task_list.push({ desc: this.new_task })
          this.new_task = ''
        }
      }

    })
  </script>
</body>
</html>